<html xmlns:th="http://www.thymeleaf.org">
<div class="page-sidebar-wrapper" th:fragment="menu">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="nav-item start">
                <a href="/" class="nav-link nav-toggle">
                    <i class="fa fa-home"></i>
                    <span class="title">主页</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END SIDEBAR -->
</div>
</html>