<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div class="page-header navbar navbar-fixed-top" th:fragment="header">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="/">
                <img src="../static/layouts/layout/img/logo.png" th:src="@{/layouts/layout/img/logo.png}" alt="logo" class="logo-default" /> </a>
            <div class="menu-toggler sidebar-toggler"><span></span></div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="../static/layouts/layout/img/avatar.png" th:src="@{/layouts/layout/img/avatar.png}" />
                        <span class="username username-hide-on-mobile" > <shiro:principal/> </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> My Profile </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-key"></i> 修改密码 </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                <i class="icon-lock"></i> Lock Screen </a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="icon-key"></i>退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>